.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
.gitignore
.yarnrc
esbuild.js
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
.env
resources/demo.gif
coverage/**
test-fixtures/**
test-results/**
.github/**
tsconfig.e2e.json
dist-e2e/**
dist/__mocks__/**
dist/__tests__/**
dist/e2e-tests/**
